<mat-card class="card mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>Cia Ar Compressor</mat-card-title>
     <mat-card-subtitle>Compressor perfeito</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="assets/img/home-image.svg" alt="Image Home cia ar">
   <mat-card-content>
     <p>
      Eae Marcelao!<br />
      O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
      Tokens JWT e muito mais.
      <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
      <br /> At.te: Matheus Phelipe de Oliveira
     </p>
   </mat-card-content>
 </mat-card>